::after, ::before {
    box-sizing: border-box;
}
body, html {
     font-family: 'El Messiri', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(16, 18, 21);
}

main ,nav
{
    display: block;
}
h3 {
    font-size: 24px;
}
a {
    cursor: pointer !important;
    color: #00adbb;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #00666f;

    text-decoration: none;
}


div {
    color: #fafcff;
}
.btn{
    text-align: center !important;
    padding-bottom: 37px !important;
}
.btn-outline-light
{
    background-color: transparent !important;
    transition: 0.3s !important;
}
.btn-outline-light:hover
{
    background-color: #a0a2a5 !important;
    transition: .5s ease;

}
.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

nav 
{
    margin: auto auto auto 40px !important;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;

}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.container 
{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.leaderboard-pl-filter-margin {
    margin-top: 1rem;
    margin-right: -40px;
}

.leaderboard-section {
    max-width: 700px;
    margin: auto;
}
.leaderboard-update-text {
    text-align: center;
    margin-bottom: 20px;
}

.leaderboard-title-head {
    color: #9fa2a6;
    font-size: 17px;
    margin: auto;
}
.leaderboard-card {
    border-radius: 16px;
    background-color: #1c1e21;
    box-shadow: 0 2px 12px 0 rgba(16,18,21,.24);
    padding: 10px 0;
    margin-top: 20px;
}
.leaderboard-card:hover,
 {
    background-color: #282a2d;
    color: #fafcff;
    box-shadow: 0 2px 8px 0 rgba(16,18,21,.32);
}
div .leaderboard-card-text {
    color: #fafcff;
    font-size: 15px;
    margin: auto;
}

div .medal {
    position: absolute;
    font-size: 17px;
    top: 25%;
    right: .5%;
    width: 100%;
    text-align: center;
    color: beige;
}


@media (max-width: 468px)
{
    div .medal {
       
     
        left: .4rem;
      
      
    }
    
}
@media (max-width: 394px)
{
    div .medal {
       
     
        left: 1.4rem;
        width: auto
      
    }

    nav 
    {
        margin: auto !important;
    }
    
}



#modelCreate ,
#modelVote 
{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: #1c1e21;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(250, 244, 244, 0.08);
    transition: 0.5s;
    visibility: hidden;
}
#modelCreate.active,
#modelVote.active
{
    visibility: visible;
    top: 50%
}
#modelCreate .content ,
#modelVote .content 
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#modelCreate .content img ,
#modelVote .content img 
{
    max-width: 80px;
}

#modelCreate .content h4 ,
#modelVote .content h4 
{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin: 20px 0 10px;
    text-align: center
}
#modelCreate .content .inputBox,
#modelVote .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modelCreate .content .inputBox input,
#modelVote .content .inputBox input,
#payment
{
    display: block;
    width: 100%;
    height: 48px;
    text-align: right;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1c1e21;
    background-clip: padding-box;
    border: 1px solid #4c4e51;
        border-top-color: rgb(76, 78, 81);
        border-right-color: rgb(76, 78, 81);
        border-bottom-color: rgb(76, 78, 81);
        border-left-color: rgb(76, 78, 81);
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#modelCreate .content .inputBox input:focus ,
#modelCreate .content .inputBox textarea:focus,
#modelVote .content .inputBox input:focus ,
#modelVote .content .inputBox textarea:focus,
#payment
{
    color: #fff;
    background-color: #1c1e21;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,173,187,.25);
}
#modelCreate .content .inputBox input.btn,
#modelVote .content .inputBox input.btn,
#payment
{
    width: 100%;
    border: 1px solid rgba(0, 0,0 ,0.2);
    padding: 15px;
    outline: none;
    font-size: 18px;
}
#modelCreate .content .inputBox input[type="submit"],
#modelVote .content .inputBox input[type="submit"],
#payment
{
    max-width: 150px;
    color: #fff;
    background-color: #00adbb;
    border-color: #00adbb;
}
#modelCreate .content .inputBox input[type="submit"]:hover ,
#modelVote .content .inputBox input[type="submit"]:hover,
#payment 
{
    color: #fff;
    background-color: #008a95;
    border-color: #007e88;
}
#modelCreate .content .inputBox textarea,
#modelVote .content .inputBox textarea
{
    display: block;
    overflow: auto;
    resize: vertical;
    text-align: right;
    margin: 0;
    font-family: inherit;
    width: 100%;
    height: 48px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1c1e21;
    background-clip: padding-box;
    border: 1px solid #4c4e51;
    border-radius: 8px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#payment 
{
    padding: 15px 7px 15px 15px;
}
.text-left {
    text-align: left !important;
}
.rules  h6
{
    font-size: 20px;
    text-align: right;
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}


.svg-inline--fa {
    font-size: inherit;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.solved
{
    font-size: 1.1rem;
    text-align: center;
    direction: rtl;
    margin: 15px 40px 15px 80px;
    cursor: default;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 7px 10px 10px;
    color: #a9a9a9;
}
.solved {
    font-size: 1.1rem;
}
code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: right;
    word-break: break-word;
}

.create
{
    background-color: #003438;
    position: fixed;
    bottom: 5px;
    right: 0px;
    left: 0px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 14px 25px;
    text-align: center;
    direction: rtl;
    cursor: default;
    border: 1px solid #777;
    border-radius: 8px;
}